#AuthType Basic
#AuthName "Demo access"
#AuthUserFile /var/www/winenode.com/.htpasswd
#Require valid-user

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>


    RewriteEngine On


	#First rewrite any request to the wrong domain to use the correct one (here www.)
	#RewriteCond %{HTTP_HOST} !^www\.
	#RewriteRule ^(.*)$ https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

	#Now, rewrite to HTTPS:
	RewriteCond %{HTTPS} off
	RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Redirect Trailing Slashes If Not A Folder...
#    RewriteCond %{LA-U:REMOTE_USER} !^$
#    RewriteCond %{REQUEST_FILENAME} !-d
#    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller... 
#    RewriteCond %{LA-U:REMOTE_USER} !^$
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.html [L]

    # Handle Authorization Header
    RewriteCond %{LA-U:REMOTE_USER} !^$
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>
