@import 'src/assets/scss/partials/_mixins';
@import '../_theme';

$hexagon_width: 50px;
$hexagon_height: 60px;
$hexagon_color: $default_card_badges;

.WineTastingCard__Container {
	display: inline-block;
	width: 260px;
	background-color: $white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
	@include border_radius(6px);

	@include desktop {
		width: 33%;
	}

	.WineTastingCard__Score {
		padding: 10px 20px;
		display: flex;
		flex-direction: row;

		.WineTastingCard__ScoreLabel {
			flex: 1;
			align-self: center;
			font-family: $body_font_family;
			font-size: 14px;
			color: $purple_wine;

			@include desktop {
				font-size: 16px;
			}

			strong {
				font-weight: 600;
			}
		}

		.WineTastingCard__ScoreIcon {
			font-family: $body_font_family;
			font-size: 24px;
			font-weight: 600;
			color: $white;

			.hexagon {
				position: relative;
				width: $hexagon_width;
				height: $hexagon_height / 2;
				background-color: $hexagon_color;
				margin: $hexagon_height / 4 0;
			}

			.hexagon:before,
			.hexagon:after {
				content: '';
				position: absolute;
				width: 0;
				left: 0;
				border-left: $hexagon_width / 2 solid transparent;
				border-right: $hexagon_width / 2 solid transparent;
			}

			.hexagon:before {
				bottom: 100%;
				border-bottom: $hexagon_width / 4 solid $hexagon_color;
			}

			.hexagon:after {
				top: 100%;
				width: 0;
				border-top: $hexagon_width / 4 solid $hexagon_color;
			}

			.value {
				position: absolute;
				margin-top: -4px;
				width: $hexagon_width;
				height: $hexagon_height / 2;
				text-align: center;
				z-index: 1;
			}
		}
	}

	.WineTastingCard__Footer {
		padding: 20px;
		font-family: $body_font_family;
		font-size: 12px;
		color: $white;
		background-color: $default_card_bottom;
		border-bottom-left-radius: inherit;
		border-bottom-right-radius: inherit;

		address {
			font-style: normal;
		}
	}

	&:hover {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
		cursor: pointer;

		.WineTastingCard__ScoreIcon .hexagon {
			background-color: $purple_grape_strong;

			&:before {
				border-bottom-color: $purple_grape_strong;
			}

			&:after {
				border-top-color: $purple_grape_strong;
			}
		}

		.WineTastingCard__Footer {
			background-color: $purple_violet;
		}
	}

	&:active {
		transform: translate(1px, 1px);
	}
}
